# Token do bot (Discord Developer Portal)
TOKEN=

# ID da aplicação (client id) e do servidor (guild id)
CLIENT_ID=
GUILD_ID=

# Cargos
CARGO_STAFF_ID=
CARGO_MEMBRO_ID=

# Canais
CANAL_PAINEL_ID=
CANAL_APROVACAO_ID=
CANAL_LOG_REGISTRO_ID=
CANAL_LOG_SAIDA_ID=
CANAL_LOG_ACOES_ID=
CANAL_LOG_FARM_ID=
CANAL_LOG_AUSENCIA_ID=
